@font-face{
  font-family: 'ScotGroteskA-Bold';
  src: url('../css/fonts/SctoGroteskA-Bold.woff2');
}

@font-face{
  font-family: 'ScotGroteskA-Medium';
  src: url('../css/fonts/SctoGroteskA-Medium.woff2');
}

@font-face{
  font-family: 'ScotGroteskA-Regular';
  src: url('../css/fonts/SctoGroteskA-Regular.woff2');
}

body{
  width: 100vw;
  margin: 0;
  font-family: 'ScotGroteskA-Medium';
  background-color: #f4f4f4;
}

a{
  text-decoration: none;
  color: unset;
}

.bottom{
  position: absolute;
  bottom: 0;
}

.margin-t{
  margin-top: 64px;
}

.margin-r{
  margin-right: 5%;
}

.margin-b{
  margin-bottom: 150px;
}

.margin-l{
  margin-left: 5%;
}

.margin-t-no{
  margin-top: 0;
}

.padding-t{
  padding-top: 100px;
}

.padding-r{
  padding-right: 50px;
}

.padding-b{
  padding-bottom: 150px;
}

.padding-l{
  padding-left: 50px;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.uppercase-text{
  text-transform: uppercase;
}

.bold{
  font-family: 'ScotGroteskA-Bold';
}

.meduim{
  font-family: 'ScotGroteskA-Medium';
}

.regular{
  font-family: 'ScotGroteskA-Regular';
}

.logo{
  height: 60px;
  width: 160px;
  margin-top: 30px;
}

.navigation{
  display: flex;
  position: relative;
}

.nav-list{
  display: flex;
  list-style: none;
  margin-left: 100px;
  margin-top: 50px;
}

.nav-link{
  margin-left: 70px;
}

.dot{
  background-color: #000;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}

.title-dot{
  padding: 32px;
  display: inline-block;
}

.vanish-checkbox{
  height: 20px;
  width: 30px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.headercheckbox{
  margin-top: 50px;
}

.titles-left{
  width: 600px;
  display: block;
}

.titles-right{
  display: block;
  text-align: right;
}

.title-h2{
  font-size: 70px;
  margin-bottom: 0;
}

.title-h3{
  font-size: 40px;
}

video{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%
}

video:focus{
  outline: none;
}

.line-long{
  margin-top: 30px;
  margin-right: 50px;
  height: .1px;
  width: 1340px;
  border: .5px solid #000
}

.line-long-white{
  margin-top: 30px;
  margin-right: 50px;
  height: .1px;
  width: 1340px;
  border: .5px solid #fff
}

.line-short{
  margin-top: 5px;
  height: .1px;
  width: 50px;
  border: 1px solid #000
}

.line-medium{
  margin-top: 30px;
  height: .1px;
  width: 350px;
  border: .5px solid #000
}

.main-p-firstsection{
  color: #808080;
  font-size: 12px;
}

.content-p-firstsection{
  font-size: 35px;
  width: 660px;
}

.content-div-firstsection{
  display: flex;
}

.branding-img-firstsection{
  height: 200px;
  width: 300px;
  margin-left: 400px;
}

.button{
  background-color: transparent;
  border: 1px solid;
  border-radius: 11px;
  padding: 5px 25px 5px 25px;
  font-family: 'ScotGroteskA-Bold';
}

.button--firstsection{
  border-color: #000;
  color: #000;
}

.button--thirdsection{
  border-color: #f9cdcd;
  color: #f9cdcd;
}

.button--firstsection:focus, .button--thirdsection:focus{
  outline: none;
}

.button--firstsection:hover{
  transition: .3s;
  background-color: #000;
  color: #fff;
}

.button--firstsection:active, .button--thirdsection:active{
  background-color: #fff;
  color: #000;
}

.button--thirdsection:hover{
  background-color: #f9cdcd;
  color: #000;
  transition: .3s;
}

.scrollbox{
  width: 93%;
  display: flex;
  overflow: auto;
  margin-top: 160px;
}

.scrollbox-img{
  height: 80px;
  width: 200px;
}

.scrollbox-article:not(:first-of-type){
  margin-left: 180px;
}

.thirdsection, .fourthsection{
  background-color: #252422;
  color: #f9cdcd;
}

.culture-video{
  height: 630px;
  width: 500px;
}

.thirdsection-video-container{
  float: right;
  clear: both;
  width: 500px;
  margin-left: 200px;
}

.adweekimage, .webbyimage{
  height: 230px;
  width: 350px;
}

.news-container{
  margin-top: 2%;
}

.news{
  width: 45%;
}

.paragraph-special{
  margin-left: 50px;
}

.title-fourthsection{
  width: 200px;
}

.arrow{
  height: 50px;
  width: 50px;
}

.arrow-link{
  height: 100%;
  margin-left: 15%;
}

.footer{
  color: #fff;
  background-color: #252422;
}

.inverted{
  filter: invert(100%);
}

.checkbox-div{
  width: 100%;
}